My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "*/5 * * * *"
            }
          ]
        },
        "simple": false,
        "filters": {
          "readStatus": "unread"
        },
        "options": {
          "dataPropertyAttachmentsPrefixName": "attachment_",
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -656,
        -32
      ],
      "id": "{DEFAUL}",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "{}",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "=attachment_0",
        "name": "=samuel{{$binary.attachment_0.fileName}}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "{DEFAUL}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -160,
        -240
      ],
      "id": "{DEFAUL}",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "{DEFAUL}",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "{DEFAUL}",
              "leftValue": "={{$binary.attachment_0.fileName}}",
              "rightValue": ".csv",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -400,
        -32
      ],
      "id": "{DEFAUL}",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Gmail Trigger').item.json.from.value[0].address }}",
        "subject": "Teste retorno",
        "emailType": "text",
        "message": "=Prezado(a){{ $('Gmail Trigger').item.json.from.value[0].name }},\n\nNão foi possível concluir o processo de automação, pois o e-mail recebido não continha nenhum arquivo .csv anexado.\n\n🔄 Solução:  \nPor favor, reenviar o e-mail garantindo que o arquivo esteja anexado e no formato correto (.csv).\n\nAtenciosamente,  \nSistema de Automação Samuel",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        304,
        -16
      ],
      "id": "{DEFAUL}",
      "name": "Send a message",
      "webhookId": "{DEFAUL}",
      "credentials": {
        "gmailOAuth2": {
          "id": "{DEFAUL}",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://open.er-api.com/v6/latest/USD",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        -240
      ],
      "id": "{DEFAUL}",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Gmail Trigger').item.json.from.value[0].address }}",
        "subject": "Cotação do Dolar",
        "emailType": "text",
        "message": "=Prezado(a),{{ $('Gmail Trigger').item.json.from.value[0].name }}\n\nO processo de automação foi concluído com sucesso.\n\n📊 Cotação do Dólar no dia {{ $json[\"time_last_update_utc\"] }}:  \n1 USD = {{ $json[\"rates\"][\"BRL\"] }} BRL\n\nFonte: Exchange Rate API (https://open.er-api.com)\n\nAtenciosamente,  \nSistema de Automação n8n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        288,
        -240
      ],
      "id": "{DEFAUL}",
      "name": "Send a message1",
      "webhookId": "{DEFAUL}",
      "credentials": {
        "gmailOAuth2": {
          "id": "{DEFAUL}",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        528,
        -144
      ],
      "id": "{DEFAUL}",
      "name": "Mark a message as read",
      "webhookId": "{DEFAUL}",
      "credentials": {
        "gmailOAuth2": {
          "id": "{DEFAUL}",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Mark a message as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Mark a message as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "{DEFAUL}",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "{DEFAUL}"
  },
  "id": "{DEFAUL}",
  "tags": []
}